@font-face {
  font-family: "Lumos";
  src: url(/assets/fonts/LUMOS.woff2);
}

body {
    background-color: black;
    color: aliceblue;
    font-family: "Lumos", serif;
}

.hero-image {
    height: 30em;
    width: 100%;
    background: url("/assets/images/hogwarts-houses.jpg") no-repeat scroll center;
    background-size: contain;
    background-color: #1a1a1a;
}

.wand {
    color: #ffd700;
    display: inline-block;
    line-height: 1;
}

.main-section {
    font-size: 1.5em;
}
