@font-face {
  font-family: "Lumos";
  src: url(/assets/fonts/LUMOS.woff2);
}

body {
    background-color: black;
    color: aliceblue;
    font-family: "Lumos", serif;
}

.hero-image {
    height: 30em;
    width: 100%;
    background: url("/assets/images/hogwarts-houses.jpg") no-repeat bottom / cover;
}
